#!/bin/bash

set -e

echo 'Starting cleaning up local backup files'
# example
# delete backups older than 30 days
# find /var/backups/ -mtime +30 -print -delete
echo 'Finished cleaning up local backup files'
